@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html, body {
  padding: 0;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(216, 12%, 8%);
  font-size: 15px;
  color: hsl(217, 12%, 63%);
}

h2 {
  color: whitesmoke;
}

.card {
  max-width: 320px;
  margin: auto;
  border-radius: 20px;
  padding: 2em;
  background-color: hsl(213, 19%, 18%);
}

.rating-state, .thanks-state{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  min-width: 2.8rem;
  max-width: fit-content;
  height: 2.8rem;
  border-radius: 2rem;
  background-color: rgba(211, 211, 211, 0.145);
}

.ratings .circle:hover {
  background-color:#FC7613 ;
  cursor: pointer;
  color: whitesmoke;
}

.ratings .circle:active {
  background-color: hsl(217, 12%, 63%);
}

button {
  background-color: #FC7613;
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 12px 20px;
}

button:hover{
  cursor: pointer;
  background-color: white;
  color:#FC7613;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Thanks state */
.thanks-state{
  display: none;
  align-items: center;
}
.thanks-image {
  object-fit: contain;
  width: 50%;
  justify-self: center;
}

.prompt {
  align-self: center;
  color: #fd8b39aa;
  padding:0 1.5rem;
}

.prompt .circle {
  height: fit-content;
}
.thanks-state .text{
  text-align: center;
}