* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: rgb(51, 53, 65);
  padding: 0;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: antiquewhite;
  background-color: #232730;
  font-size: 15px;
}

h1 {
  font-size: 2em;
}

.card {
  max-width: 340px;
  margin: auto;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#171e28+0,4e5a8c+100&1+0,0.86+100 */
  background: -moz-linear-gradient(180deg,  rgba(30, 37, 45, 1) 0%, rgba(20, 21, 25, 0.86) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(180deg,  rgba(30, 37, 45, 1) 0%, rgba(20, 21, 25, 0.86) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(180deg,  rgba(30, 37, 45, 1) 0%, rgba(20, 21, 25, 0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171e28', endColorstr='#db4e5a8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.ratings {
  display: flex;
  justify-content: space-between;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2rem;
  background-color: rgba(107, 123, 189, 0.397);
}

button {
  background-color: #FC7613;
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px 20px;
}
.thanks-state{
  display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }