@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* *{
    padding: 0;
    margin: 0;
} */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  hsl(217, 54%, 11%);
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #98b6da;
    font-weight: 300;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: min(300px, 80%);
    margin: auto;
    padding: 1.5em;
}

.nft-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: whitesmoke;
}

.nft-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

hr {
    border:1px solid hsl(215, 32%, 27%);
}

.nft {
    position: relative;
}

.item-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#view-icon {
    position: absolute;
    display: none;
    left: 0; right: 0; margin: auto;
    top: 0; bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 247, 0);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay:hover{
    background-color:  rgba(0, 255, 247, 0.359);
    cursor: pointer;
}

.overlay:hover + #view-icon {
    display: block;
}

.price, .time-left, .creator-row {
    display: flex;
    align-items: center;
    gap: 6px;
}

.pricing-row {
    display: flex;
    justify-content: space-between;
}

.price img, p{
    display: inline;
}

.price p{
    color: hsl(178, 100%, 50%);
}

.creator-row img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow:0 0 0 1px white;
}

.creator-row span{
    color: whitesmoke;
}

.creator-row span:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }